.container
{
    margin-top: 10px;
}
#signinTitle
{
    text-align: center;
    font-size: 30px;
}
#signinForm
{
    padding: 10px;
    box-shadow: 2px 3px 5px rgba(255, 255, 255, .5);
}
.signinCont{
    display: flex;
    flex-direction: column;
    
}
#alertDiv
{
    height: 50px;
}
