<div class="container text-center ">
  <div class="row c-row  align-items-center ">
    <div class="col-md-4 mt-4 ">
      <img src="../../../assets/Images/img_avatar.png" alt="Avatar">
    </div>

    <div class="col-md-8 mt-4 " [style]="myIntro">
      <div id="introTitle">Introduction</div>
      <p>Hi, My name is Vasanth</p>

      <p>
       
       {{introPara1}}
      </p>
      <p>
       {{introPara2}}
      </p>
      <div id="contactBtn">
        <button class="btn btn-primary" >
          Contact Me<span id="emailIcon"><i class="bi bi-envelope-at"></i></span>
        </button>
      </div>
    </div>

  </div>
</div>


 
