<div class="container text-center">
    <div class="row c-row  align-items-center ">
      <div class="col-md-6 mt-4 ">
        <img src="../../../assets/Images/exp_img.jpeg" class="img-fluid" alt="mySkills">
  
      </div>
  
      <div class="col-md-6 mt-2  ">
        <div id="expTitle">Experiences</div>
  
        <div id="expDiv">
          <div class="expContent">
            <h4>E-World class Technology Ltd</h4>
            <p>Position held : ASE | Tool : Trainga | 2 yrs</p>
          </div>
          <div class="expContent">
            <h4>Cyber-first Softwares </h4>
            <p>Postion held : SSE | Tool : Wireshark | 4 yrs</p>
          </div>
          <div class="expContent">
            <h4>KKR super technologies</h4>
            <p>Position held : TL : Tool : Java technologies | 3yrs</p>
          </div>
          <div class="expContent">
            <h4>Octaware Technologies</h4>
            <p>Position held : TL : Tool : Machine learning | 1yr</p>
          </div>
    
        </div>
  
      </div>
  
    </div>
  </div>