<div class="container text-center">
    <div class="row c-row  align-items-center ">
      <div class="col-md-6 mt-4 ">
        <img src="../../../assets/Images/edu_img.jpg" class="img-fluid" alt="mySkills">
  
      </div>
  
      <div class="col-md-6 mt-2 myIntro ">
        <div id="eduTitle">Education</div>
  
        <div id="eduDiv">
          <div class="eduContent">
            <h4>Puducherry Technological Universiry</h4>
            <p>Degree : Bachelor of Technology | Stream : Computer Science Engineering</p>
          </div>
          <div class="eduContent">
            <h4>Wright State Universiry </h4>
            <p>Degree : Master of Science in Cyber Security</p>
          </div>
          <div class="eduContent">
            <h4>New Jersey City University</h4>
            <p>Degree : Doctor of Philosophy | Stream : Data Science </p>
          </div>
        
    
        </div>
  
      </div>
  
    </div>
  </div>